[Unit]
Description=GNS3 Network Simulator Server
Wants=network-online.target
After=network.target network-online.target

[Service]
User=gns3
Group=gns3
ExecStart=/opt/gns3/venv/bin/gns3server  \
            -d \
            --config /opt/gns3/gns3.conf \
            --log /opt/gns3/gns3.log

[Install]
WantedBy=multi-user.target



